@model text_adventure.mvc.Models.GameState
@{
    ViewData["Title"] = "ASCII Adventure Game";
    var currentRoomName = Model.Rooms[Model.CurrentRoom].Name;
}


<div id="game-container">
    <h2>ASCII Adventure Game</h2>
    <div id="game-output">
        <p>@currentRoomName</p>
        @if (ViewBag.Output != null)
        {
            <p>@ViewBag.Output</p>
        }
    </div>

    <form asp-action="ProcessCommand" method="post">
        <input type="text" name="command" placeholder="Enter command" autocomplete="off" />
        <button type="submit">Submit</button>
    </form>
</div>